<h1>Being a Caregiver is Your Business</h1>
<h2>Build your Business With Frontporch</h2>

<p>Set your own rates.  On average, Frontporch caregivers earn 30% more than at an agency.</p>

<p>Get paid weekly through direct deposit.   No more awkward money conversations or cashing checks.</p> 

<p>Track everything you need to properly fill out your taxes.</p> 

<p>Your profile is how you attract clients.  We are here to help you craft the best profile.</p> 
<p>Monitor profile views, wages earned, and match against your area to determine if you should charge more.</p> 



