
<h1>Frontporch</h1>
<p>A NEW WAY TO FIND IN HOME CARE</p>

<p>Go to the real site at <%= link_to "Frontporch Care", "http://www.frontporchcare.com" %></p>

<p>
<%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>